 <h1>World Wide Library</h1>
    <fieldset>
        <fieldset>
            <h2>Search Catalogue:</h2>
            <h3>Filter by Genre.</h3>
            <form id="search-books" method="GET" action="/">
                <label for="genre">Genre:</label>
                <select id="genre" name="genre">
                    <option></option>
                    {{#each genres}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <input type="submit">
                <a href='/'><button>Reset</button></a>
            </form>
        </fieldset>
        <br>
        <h2>Books Catalogue:</h2>
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                <tr>
                    <td>{{isbn}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{genre}}</td>
                    <td><button type="button"><a href="/borrow/{{isbn}}">Borrow</a></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
    <br>
    <fieldset>
        <h2>Available virtual rooms:</h2>
        <table>
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Capacity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each rooms}}
                <tr>
                    <td>{{roomNumber}}</td>
                    <td>{{capacity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
    <br>
    <p>New Patron? <a href="/create_patron">Create an account</a></p>
    <a href="/employees">Librarian Access</a>

    